html{
    font-family: 'Montserrat', sans-serif ;
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
}

nav {
height: 5vh;
background-color: rgb(21, 21, 21);
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 1vh;
    background-color: rgb(21, 21, 21);
    color: goldenrod;

}
nav ul li{
    height: 5vh;
    display: flex;
    justify-content: center;
}


nav a:hover, nav a:focus {
    background-color: goldenrod;
    color: rgb(21, 21, 21);
}

header{
height: 10vh;
background-color: rgb(28, 80, 48);
color: aliceblue;

}
header figure{
    height: 100%;
}

header figure img{
    height: 100%;
}

header figure, header h1{
    display: inline-block;
    vertical-align: middle;
}

section{
display: flex;
flex-direction: row;
}

main{
background-color: rgb(21, 21, 21);
}

main figure {
    width: 40%;
    float: right;
    margin: 1.3%;
}

main figure img{
    width: 100%;
}

main article{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}
main article figure{
    width: 23%;
    margin: 1vh;
}

main article figure img{
    width: 100%;
}
figcaption{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main article figure:hover, main article figure:focus{
    background-color: rgb(28, 80, 48);
}
aside{
min-width: 20vw;
background-color: rgb(21, 21, 21);
}

aside figure {
    width: 40%;
    margin: 0 auto;
    margin-top: 2vh;
}

aside figure img{
    width: 100%;
}
aside h2, aside p{
    text-align: center;
    color: goldenrod;
}

footer{
    background-color: goldenrod;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

footer a, footer p{
    text-decoration: none;
    color: rgb(21, 21, 21);
    margin: 1vh;
}

footer a:hover, footer a:focus {
    color: whitesmoke;
}

main p, aside p{
    margin: 1rem;
    font-size: 1.5rem;
}

main h2,aside h2{
    padding: 1.3%;
    color: goldenrod;
    font-size: 2rem;
}