html{
    font-family: 'Montserrat', sans-serif;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

@media all and (min-width: 320px){
header{
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #303030;
}

#btn-cerrar, #btn-abrir {
   width: 4rem;
   padding: 0.3rem;
}
#btn-cerrar{
    display: none;
}

#contenedor-menu:target #btn-abrir{
    display: none;
}

#contenedor-menu:target #btn-cerrar{
    display: block;
}

#contenedor-enlaces{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 1s ease 0s;
}

#contenedor-menu:target #contenedor-enlaces{
    height: 30vh;
    overflow: auto;
}

ul{
    list-style: none;
}

ul li a{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: navy;
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    color: white;
}



#contenedor-menu{
    background-color: darkcyan;
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: darkslateblue;
    color: white;
}

aside figure{
    width: 100%;
}
#contenedor-principal table{
    border-collapse: collapse;
    border: 0.2rem solid navy;
    padding: 0.3rem;
    width: 95%;
    margin: 0 auto;
}

#contenedor-principal table td, #contenedor-principal table th{
    border: 0.2rem solid navy;
    padding: 0.3rem;
    text-align: center;

}

#contenedor-principal table td figure{
    width: 2rem;
}

form{
    background-color: gray;
    width: 95%;
    padding: 0.3rem;
    margin: 0 auto;
}
.contenedor-inputlbl{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5rem;
}

input{
    padding: 0.5rem;
    margin-bottom: 0.4rem;
}
article{
    margin-bottom: 1rem;
}

footer{
    background-color: #303030;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: white;
}

main{
    text-align: center;
}

main h2{
    padding: 2rem;
}
}

@media all and (min-width: 922px){

    #btn-cerrar, #btn-abrir {
        display: none;
     }

     nav{
         height: 10vh;
     }

     #contenedor-enlaces{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #contenedor-enlaces a{
       margin: 0;
       height: 100%;
       margin-right: 1rem;
       background-color: darkcyan;
    }

    #contenedor-enlaces a:hover{
        border-bottom: 0.8rem solid navy;
        color: navy;

     }

#contenedor{
    display: flex;
    flex-direction: row;
}

aside{
    min-width: 25vw;
    display: block;
    text-align: center;
    padding: 1rem;
}

main{
    width: 75vw;
    text-align: center;
}

#contenedor-principal table td figure{
    width: 10rem;
    margin: 0 auto;
    
}
form fieldset{
    padding: 2rem;
}

.contenedor-inputlbl{

    display:inline-block;
    margin: 1rem;
    width: 100%;
}

input[type="text"]{
    width: 90%;
}
.contenedor-check{
    margin: 1rem;
}

.contenedor-check label{
    margin-right: 2rem;
}

.contenedor-galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.contenedor-galeria figure{
    width: 30%;
}


}