html {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#opciones-nav {
    height: 4vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    padding-top: 3vh;
}

#opciones-nav a {
    text-decoration: none;
    color: royalblue;
    margin: 0.4rem;
}

header{
    height: 10vh;
    text-align: center;
    background-color: royalblue;
    color: white;
}

main{
    border: 0.4rem solid royalblue;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    margin-top: 0.8rem;
}

fieldset input{
    margin: 0.6rem;
    padding: 0.3rem;
}

fieldset label{
    color: white;
}

form{
    margin: 0.8rem;
}

legend{
    text-align: center;
    padding: 0.3rem;
    color: white;
}

.form-rojo{
    background-color: rgb(255, 35, 35);
}

.form-amarillo{
    background-color: rgb(222, 170, 29);
}
form p{
    color: white;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.selec{
    margin-bottom: 0.8rem;
}

.bg-verde{
    background-color: green;
}

.container-btns{
display: flex;
justify-content: center;
margin-top: 0.5rem;
padding: 0.3rem;
}

.btn-form{
    background-color: cornflowerblue;
    color: white;
    padding: 0.5rem;
    margin: 0.3rem;
}