html{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif ;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

#menu-contenido{
    height: 4vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-contenido a{
    padding: 1vh;
    text-decoration: none;
    color: rgb(64, 85, 116);
}


header{
    height: 10vh;
    background-color: rgb(64, 85, 116);
    color: white;
}

header figure, header h1{
    display: inline-block;
    vertical-align: middle;
}
header figure{
    height: 100%;
}

header figure img{
    height: 100%;
}

nav{
 height: 6vh;
 background-color: rgb(171, 207,195);
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li{
    height: 6vh;
    display: flex;
    justify-content: center;
}

nav ul a{
    text-decoration: none;
    padding: 2vh;
    color: white;
}

nav a:hover, nav a:focus {
border-bottom-width: 0.3rem;
border-bottom-style: solid;
border-bottom-color: rgb(64, 85, 116);
color: rgb(64, 85, 116);
}

#main-inicio{
    display: flex;
    flex-direction: row;
    justify-content:space-around;    
    padding: 2vh;
    background-color: whitesmoke;
}

#main-inicio figure{
    padding: 2vh;
}

#main-inicio h2{
    font-size: 2rem;
}
#articulo-1{
    width: 40vw;
    background-color: rgb(64, 85, 116);
    padding: 4vh;
    color: white;
    border-radius: 0 4rem 0 4rem;
    border-radius: 4rem 0rem 4rem 0rem;

    
}

#articulo-1 figure{
    width: 80%;
    margin: 0 auto;
}

#articulo-1 figure img{
    width: 100%;
}

#articulo-2{
    width: 40vw;
    background-color: rgb(64, 85, 116);
    padding: 4vh;
    color: white;
    border-radius: 0 4rem 0 4rem;

    
}

#articulo-2 figure{
    width: 80%;
    margin: 0 auto;
}

#articulo-2 figure img{
    width: 100%;
}

#articulo-1:hover ,#articulo-1:focus , #articulo-2:hover, #articulo-2:focus{
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);

}


footer{
    color: white;
    background-color: rgb(64, 85, 116);
    height: 10vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 1vh;
}

footer a{
    text-decoration: none;
    color: white;
    padding: 2vh;
}

footer a:hover, footer a:focus{
    color: rgb(171, 207,195);
}

#menu-contenido a:hover, #menu-contenido a:focus{
    color: rgb(171, 207,195);
}

#contenedor-reparto{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.tarjeta-reparto {
    background-color: white;
    width: 30%;
    margin: 1em;
    border-radius: 2rem;
    padding-bottom: 2rem;
    border: 00.3rem solid rgb(171, 207,195);
    border-collapse: collapse;
}

.tarjeta-reparto figure {
    background-color: rgb(64, 85, 116);
    width: 100%;
    border-radius: 1.57rem 1.57rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.tarjeta-reparto figure figcaption{
    width: 100%;
    height: 100%;
    background-color: rgb(171, 207,195);
text-align: center;
    margin-top: 1rem;
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
    color: rgb(64, 85, 116);

}

.tarjeta-reparto figure img{
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
margin: 0 auto;
    margin-top: 1rem;
    border: 00.3rem solid white;
}

.tarjeta-reparto p{
padding-left: 1rem;
padding-right: 1rem;
margin-top: 1rem;
color: rgb(64, 85, 116);

}

.tarjeta-reparto:hover, .tarjeta-reparto:focus{
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}


table, table tr th, table tr td{
    border-collapse: collapse;
    border: 00.3rem solid rgb(64, 85, 116);
}

table{
    margin: 0 auto;
    margin-top: 20vh;
}

.contenedor-mainyaside {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.contenedor-mainyaside main{
    min-width: 85%;

}


table td, table th{
    height: 4vh;
    padding: 2vh;
}

table td:hover, table th:hover{
    background-color: rgb(171, 207,195);
    color: rgb(64, 85, 116);

}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border-left: 00.3rem solid rgb(171, 207,195);
}
aside figure{
    width: 50%;
    margin-top: 5vh;
}

aside figure img{
    width: 100%;
}

aside a{
    text-decoration: none;
    color: rgb(64, 85, 116);

}
aside a:hover, aside a:focus{
    color: rgb(171, 207,195);
}

/*.tarjeta-reparto figure{
    height: 30%;
    width: 100%;
    background-color: red;
}

.tarjeta-reparto figure img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tarjeta-reparto h3{
    text-align: center;
    background-color: rgb(171, 207,195);
    width: 100%;
    margin: 0.3rem;
}

.tarjeta-reparto p{
    background-color: blue;
}

.tarjeta-reparto{
    width: 25vw;
    background-color: rgb(64, 85, 116);
    color: white;
    border-radius: 4rem;
    margin: 1vh;
    padding: 1vh;

    
}*/





